@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}

.container-fluid {
    background: url("./../imgs/pexels-pixabay-462023.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.card-title {
    font-family: 'Great Vibes', cursive;
}

.wakeMes {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }