@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.container {
    font-family: 'Play', sans-serif;
    font-weight: 400;
}

card-title {
    font-weight: 700;
}
